/* Variables */
:root {
  --side-width: 86.46%;
  --purple: #650f80;
  --dark-purple: #270a8c;
  --black: #0a0908;
  --white: #ecf0f1;
  --pure-white: #ffffff;
  --semi-white: #fafafa;
}

/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: 1.2;
}

h1 {
  font-size: 2.856em;
}
h2 {
  font-size: 2.197em;
}

h3 {
  font-size: 1.69em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.769em;
}

body {
  font-family: 'Pontano Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: var(--black);
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main Styles */
.Wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 3.313rem 0;
}

/* Header */
.Header {
  max-width: var(--side-width);
  margin: 0 auto;
  margin-bottom: 2rem;
}

.Logo {
  width: 190px;
}

.Logo__caption {
  margin: 0;
}

/* 1 Section */
.Intro__wrap {
  width: 100%;
  background-color: var(--white);
  border-bottom: 3px solid var(--white);
}

.Intro {
  max-width: var(--side-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  grid-gap: 0 1rem;
  background: url('../img/human-intro.svg') no-repeat 50% bottom;
  background-size: 280px;
}

.Intro__title,
.Intro__subtitle {
  margin: 0 0 1rem 0;
}

.Intro__subtitle {
  margin-bottom: 2rem;
}

.Intro__description {
  width: 80%;
  font-size: 1.2em;
  margin-bottom: 2rem;
}

.Intro__info,
.Intro__media {
  padding: 6rem 0 12rem 0;
}

.Intro__media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Intro__video {
  width: 500px;
  height: 300px;
  box-shadow: 26px 26px 8px rgba(58, 58, 58, 0.1);
}

.Intro__date {
  background: var(--dark-purple);
  padding: 2rem;
  position: absolute;
  bottom: 70px;
  color: var(--white);
}

/* 2 Section */
.Features__wrap {
  width: 100%;
  background-color: var(--purple);
}

.Features {
  max-width: var(--side-width);
  margin: 0 auto;
  padding: 6rem 0;
  background: url('../img/cards-features.svg') no-repeat left 25%;
}

.Features__title,
.Features__subtitle {
  text-align: center;
  color: var(--white);
}

.Features__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 4rem;
  margin-top: 6rem;
}

.Features__item {
  color: var(--white);
}
.Features__item__title {
  margin: 0 0 2rem 0;
  text-align: center;
}

.Features__item__description {
  font-size: 1.2rem;
}

/* 3 Section  */
.Conferences__wrap {
  width: 100%;
  background-color: var(--pure-white);
}

.Conferences {
  max-width: var(--side-width);
  margin: 0 auto;
  padding: 3rem 0;
  background: url('../img/features-clock.svg') no-repeat right 20%,
    url('../img/second-lamp.svg') no-repeat 8% -5%,
    url('../img/first-lamp.svg') no-repeat 0 -5%;
  background-size: 100px, 70px, 80px;
}

.Conferences__title {
  text-align: center;
  color: var(--purple);
}

.Cards {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-rows: auto;
  margin-top: 7rem;
}

.Card {
  padding: 1rem;
  background: var(--pure-white);
  border: 2px solid var(--dark-purple);
  box-shadow: 16px 16px 8px rgba(58, 58, 58, 0.1);
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in 50ms;
}

.Card:hover {
  background: var(--semi-white);
  border-width: 4px;
}

.Card__header {
  display: grid;
  grid-template-columns: auto 80px;
  grid-gap: 0 2px;
  margin-bottom: 1rem;
}

.Cards__titles {
  margin-right: 5px;
}
.Card__title {
  color: var(--purple);
  margin: 0 0 1rem 0;
}

.Card__subtitle {
  margin: 0 0 1rem 0;
}

.Card__credits {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.Card__credits__content {
  margin: 0;
}

.Card__credits__icon {
  margin-top: 5px;
  margin-right: 5px;
  color: var(--dark-purple);
}

.Card__date {
  display: flex;
  justify-content: space-between;
}

.Card__date__item {
  margin: 0;
}

.Card__date__icon {
  color: var(--dark-purple);
  margin-right: 5px;
}

/* Form  */
.Form__wrap {
  background: var(--purple);
}

.Form {
  max-width: var(--side-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  grid-gap: 2rem;
  padding: 6rem 0;
  background: url('../img/docs-form.svg') no-repeat 10% center;
  background-size: 380px;
}

.Form__title {
  color: var(--pure-white);
}

.Form__action,
.Form__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Form__input {
  max-width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  border: 2px solid var(--dark-purple);
  color: var(--black);
}

.Form__terms {
  margin-bottom: 1rem;
}

.Form__terms__info {
  color: var(--white);
  font-size: 1.2rem;
}
.Form__terms__link {
  color: var(--pure-white);
}

.Form__submit {
  width: 182px;
  padding: 1rem 0.5rem;
  display: block;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--purple);
  background: var(--white);
  border: 4px solid var(--purple);
}

.Form__submit:hover {
  color: var(--dark-purple);
  border: 4px solid var(--dark-purple);
}

/* Footer  */
.Footer {
  max-width: var(--side-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 1rem;
  padding: 4rem 0 0 0;
}

.Footer__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Footer__social__link {
  margin-right: 15px;
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--dark-purple);
}

.Footer__title {
  margin: 0 0 1rem 0;
}

.Footer__copy {
  margin: 0;
}

.Footer__email,
.Footer__contact {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2rem;
  color: var(--dark-purple);
}

/* Media Queries */
@media screen and (max-width: 1347px) {
  :root {
    --side-width: 94%;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    --side-width: 94%;
  }
  .Intro {
    background-position: 40% bottom;
    background-size: 200px;
  }
  .Intro__info,
  .Intro__media {
    padding: 2rem 0;
  }
}

@media screen and (max-width: 1186px) {
  .Intro {
    background-position: 0% bottom;
  }
  .Intro__date {
    bottom: 279px;
    right: 80px;
  }
}

@media screen and (max-width: 1026px) {
  :root {
    --side-width: 97%;
  }
}

@media screen and (max-width: 978px) {
  .Wrapper {
    padding: 1rem 0;
  }
  .Intro__media {
    padding: 0 0 2rem 0;
  }

  .Intro__wrap,
  .Conferences {
    padding: 1rem 0;
  }

  .Conferences {
    background-position: right 1.5rem, 8% -5%, 0 -5%;
    background-size: 70px, 40px, 50px;
  }

  .Cards {
    margin-top: 0;
  }

  .Intro {
    display: block;
    background-position: -5% bottom;
    background-size: 200px;
  }
  .Intro__info {
    padding: 0;
  }
  .Intro__description {
    width: 100%;
  }
  .Intro__date {
    top: -60px;
    bottom: auto;
    right: 63px;
  }

  .Form {
    display: block;
    padding: 1.5rem 0;
  }
  .Features {
    padding: 1rem 0;
  }
}

@media screen and (max-width: 768px) {
  .Intro {
    background-image: none;
  }

  .Intro__media {
    position: static;
  }

  .Intro__video__wrap {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 1rem;
  }
  .Intro__date {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    padding: 1rem;
  }

  .Intro__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .Intro__date__title {
    margin: 0;
  }

  .Conferences {
    background: none;
  }
  .Footer {
    padding: 1rem 0 0 0;
  }
}
